*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid rgba(255, 105, 180, 0.4);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-wrapper1{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper2{
    width: 35%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo p{
    margin: 10px 0 0 50px;
    font-size: 30px;
    font-weight: 600;
}
.logo img{
    width: 60px;
    height: 30px;
    object-fit: cover;
}
.logo span#store{
    color: rgb(250, 0, 70);
}

div.cart{
    position: relative;
}
div.cart img{
    width: 30px;
}
.cart-number{
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(250, 0, 70);
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -20%;
    left: 70%;
    z-index: 10;
}
div.header-bottom-wrapper1{
    width: auto;
    border-top: 0.5px solid rgba(255, 105, 180, 0.3);
}
div.header-bottom-wrapper{
    width: 85%;
    margin: 10px auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom-wrapper .header-nav{
    text-decoration: none;
    font-size: 13px;
    position: relative;
}
.header-nav::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(250, 0, 70);

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    transition: all 0.5s;
}

.header-nav:hover::after{
    width: 100%;
}

.header-bottom-wrapper .active{
    color: rgb(250, 0, 70);
    font-weight: bold;
}