*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* main */ 
main div.active-div{
    position: relative;
    width: 100%;
}

.game-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
.game-card-info p{
    width: 75%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 212, 250, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
}

main div.active-div img.display-img{
	width: 100%;
	height: 100%;
    opacity: 1;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  
    object-fit: cover;
    object-position: 50% 0%;
}